body {
    padding: 0;
    text-align: center;
  }

  #game-intro {
    padding: 20px 0px;
  }

.gameContainer{
    background-color: aquamarine;
    width: 1000px;
    height: 50vW;
    padding: 200px;
    display: flex;
    position: relative;

}

.player {
    width: 50px;
    height: 50px;
    position: absolute;
}

    #player1 {
        background-color: blue;
        

    }

    #player2 {
        background-color: red;
        

    }





.progress-bar {
    width: 600px;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    position: relative;
}

    #lifeBar1{
    background-color: blue;
    float: left;

    }

    #lifeBar2{
        background-color: red;
        float: right;

    }


.progress-fill {
    height: 100%;
}


#game-end {
    display: none;
  }
  