body {
    padding: 0;
    text-align: center;
    height: 99vh;
    background-color:rgb(156 102 34);
  }

  #game-intro {
    padding: 0px;
  }

 
.gameContainer{
    width: 76vw;
    height: 50vW;
    padding: 200px;
    /* display: flex; */

}

#life {
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.player {
    width: 70px;
    height: 100px;
    position: absolute;
}

    #player1 {
        /* background-color: blue; */
        float: left;
        background-image: url('../images/cowboy.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    #player2 {
        /* background-color: red; */
        
        float: right;
        background-image: url('../images/robot.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .shot {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: rgb(6, 4, 6);
        border-radius: 50%;
    }


.progress-bar {
    width: 600px;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    position: relative;
}

    #lifeFill1{

    /* float: left; */
    width: 40%;

    }

    #lifeFill2{
        /* background-color: red; */
        /* float: right; */
        width: 40%;
    }

    #lifeBar1{
    background-color: blue;
    float: left;
    width: 100%;

    }

    #lifeBar2{
        background-color: red;
        float: right;
        width: 100%;
    }


.progress-fill {
    height: 100%;
}


body button {
    font-size: 30px;
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    /* position: absolute; */
  }

img {
    width: 52%;
    height: auto;
    display: block;
    padding-top: 0%;


}

#game-end {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    background-image: url('../images/GameOver.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 80vh */
}
  
#gameContainer {
    visibility: hidden;
    height: 0;
    background-image: url('../images/stage.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* padding: 0; */
}


#game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}