body {
    padding: 0;
    text-align: center;
  }

  #game-intro {
    padding: 20px 0px;
  }

.gameContainer{
    background-color: aquamarine;
    width: 76vw;
    height: 50vW;
    padding: 200px;
    /* display: flex; */
    /* justify-content: center; */

}

#life {
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.player {
    width: 50px;
    height: 50px;
    position: absolute;
}

    #player1 {
        background-color: blue;
        

    }

    #player2 {
        background-color: red;
        

    }

    .shot {
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: rgb(6, 4, 6);
        border-radius: 50%;
    }


.progress-bar {
    width: 600px;
    height: 20px;
    border: 1px solid #000;
    margin-bottom: 10px;
    position: relative;
}

    #lifeFill1{

    /* float: left; */
    width: 40%;

    }

    #lifeFill2{
        /* background-color: red; */
        /* float: right; */
        width: 40%;
    }

    #lifeBar1{
    background-color: blue;
    float: left;
    width: 100%;

    }

    #lifeBar2{
        background-color: red;
        float: right;
        width: 100%;
    }


.progress-fill {
    height: 100%;
}


  